<body id="page-top">

  <!-- Header -->
  <header class="masthead" id="header-pic">
    <div class="container d-flex h-100 align-items-center" >
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-black-50" id="header-text">Apples & Airplanes</h1>
        <h2 class="text-black-50 mx-auto mt-2 mb-5"></h2>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">About</h2>
          <p class="text-white-50" id="about-text">
            No. Not that Jack Johnson. How do airprane fry? Why appers are dericious?  That's pretty much the bio.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
            No. Not that Jack Johnson. How do airprane fry? Why appers are dericious?  That's pretty much the bio.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
            No. Not that Jack Johnson. How do airprane fry? Why appers are dericious?  That's pretty much the bio.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem illo laboriosam facere, 
            tempora perferendis. Vitae aliquam suscipit, iusto ut alias impedit, 
            iste autem nobis, quasi eligendi laborum assumenda maiores.<br>
          </p>
          
        </div>
      </div>
      
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <%= image_tag("jack.jpg", :alt => "Jack", :class => "img-fluid" ) %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Jack</h4>
                <p class="mb-0 text-white-50">Lead Singer, Sax</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("nate.jpg", :alt => "Nate", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Nate</h4>
                <p class="mb-0 text-white-50">Drums</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
        
        <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <%= image_tag("ken.jpg", :alt => "Ken", :class => "img-fluid" ) %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Ken</h4>
                <p class="mb-0 text-white-50">Bass</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Project Four Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("ben.jpg", :alt => "Ben", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Ben</h4>
                <p class="mb-0 text-white-50">Guitar</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- Project Five Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <%= image_tag("chuck.jpg", :alt => "Chuck", :class => "img-fluid" ) %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Chuck</h4>
                <p class="mb-0 text-white-50">Keys</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Project Four Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("grooms.jpg", :alt => "Grooms", :class => "img-fluid") %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Grooms</h4>
                <p class="mb-0 text-white-50">Trumpet</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

</body>